* text=auto !eol
Pinellas/WebContent/META-INF/MANIFEST.MF -text
Pinellas/WebContent/WEB-INF/lib/cjsonPine-1.0.jar -text
Pinellas/WebContent/WEB-INF/lib/gson-2.0.jar -text
Pinellas/WebContent/WEB-INF/lib/jackson-all-1.9.2.jar -text
Pinellas/WebContent/WEB-INF/lib/joda-time-2.0.jar -text
Pinellas/WebContent/WEB-INF/lib/jtidy-r938.jar -text
Pinellas/WebContent/WEB-INF/lib/mysql-connector-java-5.1.18-bin.jar -text
Pinellas/WebContent/WEB-INF/web.xml -text
Pinellas/WebContent/index.jsp -text
Pinellas/logic/Handlers/Site.java -text
Pinellas/logic/Handlers/SiteInterface.java -text
Pinellas/logic/Quotes/Quotation.java -text
Pinellas/logic/Quotes/QuotationContainer.java -text
Pinellas/logic/Quotes/QuotationType.java -text
Pinellas/logic/Quotes/Quotation_Bond.java -text
Pinellas/logic/Quotes/Quotation_Fund.java -text
Pinellas/logic/Quotes/Quotation_Share.java -text
Pinellas/logic/Requests/Request.java -text
Pinellas/logic/Requests/RequestContainer.java -text
Pinellas/logic/Requests/RequestType.java -text
Pinellas/logic/Search/Borsaitaliana_it_Search.java -text
Pinellas/logic/Search/Finanza_Repubblica_it_Search.java -text
Pinellas/logic/Search/Search.java -text
Pinellas/logic/Search/Yahoo_Finanza_it_Search.java -text
Pinellas/logic/Sites/Borsaitaliana_it.java -text
Pinellas/logic/Sites/Borse_it.java -text
Pinellas/logic/Sites/Finanza_Repubblica_it.java -text
Pinellas/logic/Sites/Yahoo_Finanza_it.java -text
Pinellas/logic/Utils/UtilFuncs.java -text
Pinellas/logic/mainpackage/MyDatabase.java -text
Pinellas/logic/mainpackage/Program.java -text
Pinellas/logic/mainpackage/RequestHandler.java -text
Pinellas/logic/mainpackage/RequestPolicies.java -text
Pinellas/src/servlets/MainServlet.java -text
ServerProject/src/Handlers/Site.java -text
ServerProject/src/Handlers/SiteInterface.java -text
ServerProject/src/MyDatabase.java -text
ServerProject/src/Post.java -text
ServerProject/src/Program.java -text
ServerProject/src/Quotes/Quotation.java -text
ServerProject/src/Quotes/QuotationType.java -text
ServerProject/src/Quotes/Quotation_Bond.java -text
ServerProject/src/Quotes/Quotation_Fund.java -text
ServerProject/src/Quotes/Quotation_Share.java -text
ServerProject/src/Quotes/Type.java -text
ServerProject/src/RequestHandler.java -text
ServerProject/src/RequestPolicies.java -text
ServerProject/src/Requests/Request.java -text
ServerProject/src/Requests/RequestContainer.java -text
ServerProject/src/Requests/RequestForced.java -text
ServerProject/src/Requests/RequestQuotation.java -text
ServerProject/src/Requests/RequestType.java -text
ServerProject/src/Requests/RequestUpdate.java -text
ServerProject/src/Search/Borsaitaliana_it_Search.java -text
ServerProject/src/Search/EuroTLX_com_Search.java -text
ServerProject/src/Search/Finanza_Repubblica_it_Search.java -text
ServerProject/src/Search/Finanza_Virgilio_it_Search.java -text
ServerProject/src/Search/Search.java -text
ServerProject/src/Search/Yahoo_Finanza_it_Search.java -text
ServerProject/src/Sites/Boerse_Frankfurt_de.java -text
ServerProject/src/Sites/Borsaitaliana_it.java -text
ServerProject/src/Sites/Borse_it.java -text
ServerProject/src/Sites/EuroTLX_com.java -text
ServerProject/src/Sites/Finanza_Repubblica_it.java -text
ServerProject/src/Sites/Finanza_Virgilio_it.java -text
ServerProject/src/Sites/Yahoo_Finanza_it.java -text
ServerProject/src/Utils/UtilFuncs.java -text
extLibraries/gson-2.0.jar -text
extLibraries/joda-time-2.0.jar -text
extLibraries/jtidy-r938.jar -text
extLibraries/mysql-connector-java-5.1.18-bin.jar -text
